<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
  <channel>
    {# Mandatory elements #}
    <title>GamingOnLinux Latest Articles</title>
    <description>The latest articles from GamingOnLinux</description>
    <link>https://www.gamingonlinux.com/</link>
    <atom:link href="{{ rss_url }}" rel="self" type="application/rss+xml"/>

    {# Timestamps and frequency #}
    <pubDate>{{ published_at }}</pubDate>

    {# Feed illustration #}
    <image>
      <url>https://www.gamingonlinux.com/templates/default/images/favicons/favicon.ico</url>
      <title>GamingOnLinux Icon</title>
    </image>

    {# Entries #}
    {% for article in articles %}
    <item>
      <title>{{ article.title|e }}</title>
      <author>{{ article.author }}</author>
      <description>{{ article.content }}</description>
      <link>{{ article.url }}</link>
      <guid isPermaLink="true">{{ article.url }}</guid>
      <pubDate>{{ article.published_at }}</pubDate>
      <enclosure url="{{ article.image }}" type="image/jpeg"/>
      {% for tag in article.tags %}
      <category>{{ tag }}</category>
      {% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>
